* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    background-color: rgb(41, 42, 50);
    padding: 30px;

    div {
        background-color: rgb(74, 75, 86);
        height: 200px;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
